<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <meta charset="utf-8" nome="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />    
    <title>Projeto CAEd</title>
    <style type="text/css">
    	.btnPos {
    		margin: 12px;
    	}
    	.marginLeft12 {
    		margin-left: 12px;
    	}
    	.successText {
    		padding-left: 22px;
    		font-weight: bold;
    		color: green;
    	}
    	.stud-table {
			border-collapse: collapse;
		}
		.stud-table-header {
			text-align: center;
			background: none repeat scroll 0 0 #E5E5E5;
			border-bottom: 1px solid #BBBBBB;
			padding: 2px;
		}
		.stud-table-row {
			padding: 12px;
    		text-align: center;
		}
    </style>
</h:head>
<h:body>
    <center><h2>Cadastro de Estudante</h2></center>
    <!-- Formulário para cadastro de novo estudante -->
    <h3 class="marginLeft12">1. Adicionar um novo estudante</h3>
    <h:form id="estudanteSaveForm" styleClass="form-horizontal">    	
        <h:panelGrid columns="2">        	
        	<div class="form-group">
            	<h:outputLabel value="Id:" styleClass="control-label" />
            	<div class="col-xs-10">	
            		<h:inputText value="#{estudante.id}" styleClass="form-control" />
            	</div> 
            </div>
            <div class="form-group">
            	<h:outputLabel value="Nome:" styleClass="control-label" />
            	<div class="col-xs-10">
            		<h:inputText value="#{estudante.nome}" styleClass="form-control" /> 
            	</div> 
            </div>
            <div class="form-group">
            	<h:outputLabel value="Departamento:" styleClass="control-label" />
            	<div class="col-xs-10">	
            		<h:inputText value="#{estudante.curso}" styleClass="form-control" />
            	</div> 
            </div>
            <div class="form-group">
        		<div class="col-xs-offset-2 col-xs-10">
            		<h:commandButton value="Salvar" action="#{estudante.saveEstudanteRegistro}" styleClass="btn btn-primary btn-sm btnPos" />
            	</div>
            </div>
        </h:panelGrid>
        <h:outputText id="saveResult" rendered="#{not empty createdEstudanteId}" value="!! Estudante salvo na base de dados !!" styleClass="successText" />
    </h:form>
    <br /><br />
    
    <!-- Formulário para deletar um estudante -->
    <h3  class="marginLeft12">2. Deletar um estudante</h3>
    <h:form id="deleteEstudanteById" styleClass="form-horizontal">
        <h:panelGrid columns="2">
        	<div class="form-group">
            	<h:outputLabel value="Id:" styleClass="control-label" />
            	<div class="col-xs-10">	
            		<h:inputText value="#{estudante.id}" styleClass="form-control" />
            	</div> 
            </div>
           <div class="form-group">
        		<div class="col-xs-offset-2 col-xs-10">
            		<h:commandButton value="Deletar estudante" action="#{estudante.deleteEstudanteRegistro}" styleClass="btn btn-primary btn-sm btnPos" />
            	</div>
            </div>
        </h:panelGrid>
        <h:outputText id="deleteResult" rendered="#{not empty deletedEstudanteId}" value="!! Estudante excluido da base de dados !!" styleClass="successText" />
    </h:form>
    <br /><br />

	<!-- Formulário para pesquisar estudantes -->
	<h3  class="marginLeft12">3. Pesquisar estudante</h3>
    <h:form id="showEstudante">
        <h:panelGrid columns="2">
        	<div class="form-group">
            	<h:outputLabel value="Id:" styleClass="control-label" />
            	<div class="col-xs-10">	
            		<h:inputText value="#{estudante.id}" styleClass="form-control" />
            	</div> 
            </div>
            <div class="form-group">
        		<div class="col-xs-offset-2 col-xs-10">
            		<h:commandButton value="Buscar estudante" action="#{estudante.getEstudanteDetalhesById}" styleClass="btn btn-primary btn-sm btnPos" />
            	</div>
            </div>
           <h:dataTable id="findEstudanteRegistroDetalhes" rendered="#{not empty findEstudanteById}" value="#{estudante.estudanteList}" var="estudList" styleClass="estud-table" headerClass="estud-table-header">
           		<h:column>    				
      				<f:facet nome = "header">Nome</f:facet><h:outputText value="#{estudList.nome}" styleClass="estud-table-row" />	      			
   				</h:column>
   				<h:column>
      				<f:facet nome = "header">Curso</f:facet><h:outputText value="#{estudList.curso}" styleClass="estud-table-row" />	      			
   				</h:column>
           </h:dataTable>            	                         
        </h:panelGrid>
    </h:form>
    <br /><br />

	<!-- Formulário para update de estudante existente -->
	<h3  class="marginLeft12">4. Atualizar estudante</h3>
    <h:form id="updateEstudanteRegistro">
        <h:panelGrid columns="2">
        	<div class="form-group">
            	<h:outputLabel value="Id:" styleClass="control-label" />
            	<div class="col-xs-10">	
            		<h:inputText value="#{estudante.id}" styleClass="form-control" />
            	</div> 
            </div>
             <div class="form-group">
        		<div class="col-xs-offset-2 col-xs-10">
            		<h:commandButton value="Exibir estudante" action="#{estudante.getEstudanteDetalhesById}" styleClass="btn btn-primary btn-sm btnPos" />
            	</div>
            </div>   
            <div class="form-group">
            	<h:outputLabel value="Id:" styleClass="control-label" />
            	<div class="col-xs-10">            		
            		<h:inputText value="#{estudante.nome}" styleClass="form-control"/>
            	</div> 
            </div>
             <div class="form-group">
            	<h:outputLabel value="Curso:" styleClass="control-label" />
            	<div class="col-xs-10">            		
            		<h:inputText value="#{estudante.curso}" styleClass="form-control"/>
            	</div> 
            </div>
             <div class="form-group">
        		<div class="col-xs-offset-2 col-xs-10">
        			<h:commandButton value="Atualizar" action="#{estudante.updateEstudanteDetalhes}" styleClass="btn btn-primary btn-sm btnPos" />
        		</div>
        	</div>        
       </h:panelGrid>
       <h:outputText id="updateResult" rendered="#{not empty updatedEstudanteRegistro}" value="!! Registro de estudante atualizado na base de dados !!" styleClass="successText" />
    </h:form>
</h:body>
</html>